.background_sp1 {
    background: linear-gradient(to top, #205D6D, #a5bec4, #d2dee1, #e8eef0, #ffffff);
    min-height: 1024px
}

@media (min-width: 1440px) {
    body {
        /*    background-image: url('../images/background.jpg');
            -moz-background-size: 100%;
            -webkit-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;
        */
        font-family: Times New Roman;
        background: #FAFAFA;
        color: #848484;
        min-height: 1024px
    }

    button {
        width: 170px;
    }

    .centered-block {
        text-align: center;
        margin: 0 auto;
        clear: both;
    }

    .text-black {
        color: black;
    }

    .text-black-l {
        text-align: left;
    }

    .text-red {
        color: red;
    }

    .big-block {
        font-size: 17px;
        margin-bottom: 10px;
        margin-top: 10px;
        clear: both;
    }

    .functional-area {
        height: 135px;
    }

    .functional-area-1 {
        height: 265px;
    }

    .functional-area-2 {
        height: 280px;
    }

    .trade-footer-data {
        height: 200px;
    }

    .buttons-block {
        width: 100%;
        float: right;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 14px;
    }

    .trade-header-line {
        width: 33%;
        float: left;
        text-align: left;
    }

    .trade-header-big-line-bb {
        font-size: 20px;
        width: 50%;
        float: left;
        text-align: left;
    }

    .trade-header-big-line-bo {
        font-size: 20px;
        width: 50%;
        float: left;
        text-align: left;
    }

    .trade-header-big-line-pb {
        font-size: 20px;
        width: 50%;
        float: left;
        text-align: left;
    }

    .trade-header-big-line-po {
        font-size: 20px;
        width: 50%;
        float: left;
        text-align: left;
    }

    .trade-header-big-line {
        font-size: 20px;
        width: 40%;
        float: left;
        text-align: left;
    }

    .trade-header-big-line1 {
        font-size: 20px;
        width: 25%;
        float: left;
        text-align: left;
    }

    .trade-header-big-line2 {
        font-size: 20px;
        width: 34%;
        float: left;
        text-align: left;
    }

    .trade-header-big-line-2 {
        font-size: 20px;
        width: 50%;
        float: left;
        text-align: left;
    }

    .trade-header-big-line1-2 {
        font-size: 20px;
        width: 49%;
        float: left;
        text-align: left;
    }

    .trade-footer-line {
        width: 33%;
        float: left;
        text-align: left;
    }

    .trade-footer-big-line-b {
        font-size: 20px;
        width: 50%;
        float: left;
        text-align: left;
    }

    .trade-footer-big-line-p {
        font-size: 20px;
        width: 50%;
        float: left;
        text-align: left;
    }

    .trade-footer-big-line-2 {
        font-size: 20px;
        width: 39%;
        float: left;
        text-align: left;
    }

    .trade-footer-big-line1-2 {
        font-size: 20px;
        width: 21%;
        float: left;
        text-align: left;
    }

    .trade-footer-big-line2-2 {
        font-size: 20px;
        width: 60%;
        float: left;
        text-align: left;
    }

    .header-h1 {
        font-size: 20px;
        color: #848484;
        text-align: center;
    }

    .filter-block {
        vertical-align: top;
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    #data-trade {
        width: 100%;
    }

    #data-block {
        vertical-align: top;
        display: inline-block;
        width: 98%;
    }

    #data-graph {
        display: inline-block;
        width: 99%;
        height: 90%;
        float: right;
    }

    #graph-container {
        display: inline-block;
        width: 100%;
        height: 650px;
        float: right;
        margin-top: 14px;
    }

    #graph-price {
        float: left;
        display: inline-block;
        height: 400px;
        width: 10px;
        color: black;
        text-align: center;
    }

    #graph-power {
        width: 100%;
        height: 30px;
        text-align: center;
        color: black;
    }

    #graph-legend {
        width: 300px;
        height: 10px;
        margin: 0 auto;
    }

    #arhiv-legend {
        width: 400px;
        height: 10px;
        margin: 0 auto;
    }

    .data-table {
        vertical-align: middle;
    }

    .data-table th, td {
        text-align: center;
    }

    .data-table th {
        font-weight: bold;
    }

    .date-field {
        width: 100px;
    }

    .username-line {
        width: 20%;
        float: left;
        display: inline-block;
    }

    .username-line2 {
        width: 59%;
        float: left;
        display: inline-block;
        margin-bottom: 10px;
        margin-top: 14px;
        text-align: center;
    }

    .username-line3 {
        width: 20%;
        float: right;
        display: inline-block;
        margin-bottom: 10px;
        margin-top: 14px;
    }

    .buttons-block-big-line1 {
        display: inline-block;
    }

    .buttons-block-big-line2 {
        font-size: 11px;
        float: left;
        text-align: center;
        width: 500px;
    }

    .buttons-line-1 {
        width: 34%;
        float: left;
        display: inline-block;
    }

    .buttons-line-2 {
        width: auto;
        float: left;
        display: inline-block;
        text-align: center;
    }

    .buttons-line1 {
        width: 34%;
        float: left;
        display: inline-block;
    }

    .buttons-line2 {
        width: 33%;
        float: left;
        display: inline-block;
        text-align: center;
    }

    .buttons-line3 {
        width: 33%;
        float: right;
        display: inline-block;
    }

    #zayvka-table {
        border: medium none;
        color: #205d6d;
        text-align: center;
        width: 500px;
    }

    #zayvka-table td {
        border: medium none;
        color: #205d6d;
        text-align: center;
    }

    #zayvka-table td.first-cell {
        font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
        border: medium none;
        color: #1c94c4;
        font-weight: bold;
        text-align: right;
    }

    #zayvka-table td.second-cell {
        font-family: Tahoma, Trebuchet MS, Verdana, Arial, sans-serif;
        border: medium none;
        color: #333;
        font-weight: bold;
        text-align: left;
    }

    #zayvka-table input.my-input {
        width: 75px;
    }

    .ui-jqgrid .ui-jqgrid-btable {
        table-layout: auto;
    }

    .table-invisible {
        border: none;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-collapse: collapse;
        margin: 0 auto;
    }

    .table-invisible td {
        border: none;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-collapse: collapse;
    }

    #login-block {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 350px;
        width: 500px;
        clear: both;
    }

    #table-create {
        border: none;
        border-collapse: collapse;
        vertical-align: middle;
        margin: 0 auto;
    }

    #table-create td {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-collapse: collapse;
        vertical-align: middle;
        font-weight: bold;
    }

    #table-create td.td-right {
        text-align: right;
    }

    #table-create td.td-left {
        text-align: left;
    }

    #table-index {
        border: none;
        border-collapse: collapse;
        vertical-align: middle;
    }

    #table-index td {
        font-size: 14pt;
        width: 400px;
        border: 1px solid;
        border-left: none;
        border-right: none;
        border-collapse: collapse;
        vertical-align: middle;
        text-align: center;
        color: black;
    }

    #table-index td.table-index-center-border {
        border-right: 2px solid;
        text-align: left;
        width: auto;
    }

    #table-index td.header {
        text-align: center;
    }

    #table-index td.td-header {
        height: 20px;
        text-align: center;
    }

    .text-left {
        text-align: left;
    }

    #logo-block {
        width: 100%;
        height: 80px;
        margin: 0px;
    }

    #logo-image {
        float: left;
        width: 277px;
        margin: 0px;
        /*    border: 1px solid;*/
    }

    #logo-name {
        float: left;
        width: 20%;
        margin: 0px;
        text-align: center;
        /*    border: 1px solid;*/
    }

    #logo-image-src {
        text-align: center;
        float: inherit;
        margin: 10px 0 0 32px;
        /*    border: 1px solid;
    width: 277px;
        */
    }

    #logo-email {
        float: left;
        width: 220px;
        margin: 0px;
        font-size: 12px;
    }

    #logo-center {
        position: absolute;
        margin: 0px;
        width: 99%;
        height: 60px;
        top: 0px;
    }

    #logo-call {
        float: right;
        width: 277px;
        margin: 0px;
        height: 80px;
    }

    #logo-call-number {
        position: absolute;
        width: 200px;
        top: 40px;
        right: 32px;
        color: black;
        margin: 0px;
        font-family: Impact;
    }

    #logo-call-src {
        position: absolute;
        top: 10px;
        right: 140px;
        margin: 0px;
    }

    #close-image {
        position: absolute;
        width: 57px;
        margin: 0px;
        top: 10px;
        right: 10px;
    }

    #logo-email-bottom {
        position: absolute;
        top: 65px;
        right: 25px;
    }

    #vals-block {
        width: 500px;
    }

    #table-max-vals {
        width: 100%;
        border-collapse: collapse;
        margin: 0 auto;
        text-align: center;
        color: black;
        border-color: black;
    }

    #table-max-vals td {
        border-collapse: collapse;
        text-align: center;
        color: black;
        border-color: black;
    }

    .text-corp-color {
        color: #205D6D;
    }

    .text-corp-impact {
        color: #205D6D;
        font-family: Impact;
    }

    .text-corp-exit {
        color: #205D6D;
        font-family: Times New Roman;
    }

    .login-input {
        width: 150px;
        resize: none;
        z-index: 999;
    }

    .trade-status-on {
        color: #205D6D;
        font-size: 20px;
        font-weight: bold;
    }

    .trade-status-off {
        color: red;
        font-size: 20px;
        font-weight: bold;
    }

    .trade-status-non {
        color: red;
        font-size: 20px;
        font-weight: bold;
    }

    .text-shadow {
        color: #205D6D;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    }

    .corp-line {
        color: #205D6D;
        background-color: #205D6D; /*äëÿ Firefox, Opera, Safari*/
        border: 0px none;
        height: 5px; /* âûñîòà 1px IE, Firefox, Opera, Safari */
        clear: both; /* äëÿ î÷èñòêè, åñëè òåã èäåò ïîñëå float åëåìåíòà */
    }

    .send-container {
        width: 265px;
        height: 30px;
        float: left;
    }

    .send-to {
        margin-top: 5px;
        width: 40px;
        height: 22px;
        margin-right: 5px;
        float: left;
    }

    input.send-text {
        margin-top: 5px;
        float: left;
        width: 213px;
    }

    button.send-button {
        margin-top: 5px;
        width: 20px;
        height: 22px;
        float: right;
    }

    .clear-line {
        width: 100%;
        height: 1px;
        clear: both;
    }

    .ui-jqgrid tr.jqgrow td {
        word-wrap: break-word; /* IE 5.5+ and CSS3 */
        white-space: pre-wrap; /* CSS3 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
    }

    .ui-th-column-header {
        text-align: center;
        vertical-align: middle;
    }

    .green a.ui-state-default {
        color: black;
        background-color: #3CB371;
        background: green;
    }

    #application-r {
        /*    visibility: hidden;
            display: none;*/
    }

    #application {
        /*    visibility: hidden;*/
        display: none;
    }

}

@media (min-width: 800px) and (max-width: 1400px) {
    body {
        /*    background-image: url('../images/background.jpg');
        -moz-background-size: 100%;
        -webkit-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        */
        font-family: Times New Roman;
        background: #FAFAFA;
        color: #848484;
        min-height: 1024px;
    }

    button {
        width: 120px;
        font-size: 11px;
    }

    .centered-block {
        text-align: center;
        margin: 0 auto;
        clear: both;
    }

    .text-black {
        color: black;
    }

    .text-red {
        color: red;
    }

    .big-block {
        font-size: 12px;
        margin-bottom: 10px;
        margin-top: 10px;
        clear: both;
    }

    .functional-area {
        height: 120px;
    }

    .functional-area-1 {
        height: 250px;
    }

    .functional-area-2 {
        height: 280px;
    }

    .trade-footer-data {
        height: 250px;
    }

    .buttons-block {
        width: 100%;
        float: right;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .trade-header-line {
        width: 33%;
        float: left;
        text-align: left;
    }

    .trade-header-big-line-bb {
        font-size: 20px;
        width: 50%;
        float: left;
        text-align: left;
    }

    .trade-header-big-line-bo {
        font-size: 20px;
        width: 50%;
        float: left;
        text-align: left;
    }

    .trade-header-big-line-pb {
        font-size: 20px;
        width: 50%;
        float: left;
        text-align: left;
    }

    .trade-header-big-line-po {
        font-size: 20px;
        width: 50%;
        float: left;
        text-align: left;
    }

    .trade-header-big-line {
        font-size: 20px;
        width: 40%;
        float: left;
        text-align: left;
    }

    .trade-header-big-line1 {
        font-size: 20px;
        width: 25%;
        float: left;
        text-align: left;
    }

    .trade-header-big-line2 {
        font-size: 20px;
        width: 34%;
        float: left;
        text-align: left;
    }

    .trade-header-big-line-2 {
        font-size: 20px;
        width: 50%;
        float: left;
        text-align: left;
    }

    .trade-header-big-line1-2 {
        font-size: 20px;
        width: 49%;
        float: left;
        text-align: left;
    }

    .trade-footer-line {
        width: 33%;
        float: left;
        text-align: left;
    }

    .trade-footer-big-line-b {
        font-size: 20px;
        width: 50%;
        float: left;
        text-align: left;
    }

    .trade-footer-big-line-p {
        font-size: 20px;
        width: 50%;
        float: left;
        text-align: left;
    }

    .trade-footer-big-line-2 {
        font-size: 20px;
        width: 45%;
        float: left;
        text-align: left;
    }

    .trade-footer-big-line1-2 {
        font-size: 20px;
        width: 21%;
        float: left;
        text-align: left;
    }

    .trade-footer-big-line2-2 {
        font-size: 20px;
        width: 54%;
        float: left;
        text-align: left;
    }

    .username-line {
        width: 20%;
        float: left;
        display: inline-block;
    }

    .username-line2 {
        width: 59%;
        float: left;
        display: inline-block;
        margin-bottom: 10px;
        margin-top: 14px;
        text-align: center;
    }

    .username-line3 {
        width: 20%;
        float: right;
        display: inline-block;
        margin-bottom: 10px;
        margin-top: 14px;
    }

    .buttons-block-big-line1 {
        display: inline-block;
    }

    .buttons-block-big-line2 {
        font-size: 9px;
        text-align: center;
        width: 430px;
        float: left;
    }

    .buttons-line-1 {
        width: 32%;
        float: left;
        display: inline-block;
    }

    .buttons-line-2 {
        width: auto;
        float: left;
        display: inline-block;
        text-align: center;
    }

    .buttons-line1 {
        width: 25%;
        float: left;
        display: inline-block;
    }

    .buttons-line2 {
        width: 50%;
        float: left;
        display: inline-block;
        text-align: center;
    }

    .buttons-line3 {
        width: 25%;
        float: right;
        display: inline-block;
    }

    #zayvka-table {
        border: medium none;
        color: #205d6d;
        text-align: center;
        width: 430px;
    }

    #zayvka-table td {
        border: medium none;
        color: #205d6d;
        text-align: center;
    }

    #zayvka-table td.first-cell {
        font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
        border: medium none;
        color: #1c94c4;
        font-weight: bold;
        text-align: right;
    }

    #zayvka-table td.second-cell {
        font-family: Tahoma, Trebuchet MS, Verdana, Arial, sans-serif;
        border: medium none;
        color: #333;
        font-weight: bold;
        text-align: left;
    }

    #zayvka-table input.my-input {
        width: 75px;
    }

    .header-h1 {
        font-size: 16px;
        color: #848484;
        text-align: center;
    }

    .filter-block {
        vertical-align: top;
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    #data-trade {
        width: 100%;
    }

    #data-block {
        vertical-align: top;
        display: inline-block;
        width: 98%;
    }

    #data-graph {
        display: inline-block;
        width: 99%;
        height: 90%;
        float: right;
    }

    #graph-container {
        display: inline-block;
        width: 100%;
        height: 650px;
        float: right;
        margin-top: 10px;
    }

    #graph-price {
        float: left;
        display: inline-block;
        height: 400px;
        width: 5px;
        color: black;
        text-align: center;
    }

    #graph-price-src {
        width: 16px;
    }

    #graph-power {
        width: 100%;
        height: 30px;
        text-align: center;
        color: black;
    }

    #graph-legend {
        width: 300px;
        height: 10px;
        margin: 0 auto;
    }

    #arhiv-legend {
        width: 400px;
        height: 10px;
        margin: 0 auto;
    }

    #table-vals {
        font-size: 10px;
    }

    .data-table {
        vertical-align: middle;
    }

    .data-table th, td {
        text-align: center;
    }

    .data-table th {
        font-weight: bold;
    }

    .date-field {
        width: 100px;
    }

    .ui-jqgrid .ui-jqgrid-btable {
        table-layout: auto;
    }

    .ui-jqgrid .ui-jqgrid-htable th {
        font-size: 9px;
    }

    .ui-jqgrid tr.ui-row-ltr td {
        font-size: 9px;
    }

    .table-invisible {
        border: none;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-collapse: collapse;
        margin: 0 auto;
        font-size: 10px;
    }

    .table-invisible td {
        border: none;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-collapse: collapse;
        font-size: 14px;
    }

    #login-block {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 350px;
        width: 500px;
        clear: both;
    }

    #table-create {
        border: none;
        border-collapse: collapse;
        vertical-align: middle;
        margin: 0 auto;
    }

    #table-create td {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-collapse: collapse;
        vertical-align: middle;
        font-weight: bold;
    }

    #table-create td.td-right {
        text-align: right;
    }

    #table-create td.td-left {
        text-align: left;
    }

    #table-index {
        border: none;
        border-collapse: collapse;
        vertical-align: middle;
    }

    #table-index td {
        font-size: 14pt;
        width: 400px;
        border: 1px solid;
        border-left: none;
        border-right: none;
        border-collapse: collapse;
        vertical-align: middle;
        text-align: center;
        color: black;
    }

    #table-index td.table-index-center-border {
        border-right: 2px solid;
        text-align: left;
        width: auto;
    }

    #table-index td.header {
        text-align: center;
    }

    #table-index td.td-header {
        height: 20px;
    }

    .text-left {
        text-align: left;
    }

    #logo-block {
        width: 100%;
        height: 80px;
        margin: 0px;
    }

    #logo-image {
        float: left;
        width: 250px;
        margin: 0px;
        /*    border: 1px solid;*/
    }

    #logo-name {
        float: left;
        width: 20%;
        margin: 0px;
        text-align: center;
        /*    border: 1px solid;*/
    }

    #logo-image-src {
        float: inherit;
        margin: 10px 0 0 32px;
        text-align: center;
        /*    border: 1px solid;
    width: 100px;
        */
    }

    #logo-email {
        float: left;
        width: 220px;
        margin: 0px;
        font-size: 12px;
    }

    #logo-center {
        position: absolute;
        margin: 0px;
        width: 99%;
        height: 60px;
        top: 0px;
    }

    #logo-call {
        float: right;
        width: 190px;
        margin: 0px;
        height: 80px;
    }

    #logo-call-src {
        width: 100px;
    }

    #logo-call-number {
        position: relative;
        width: 190px;
        top: -2px;
        /*  left: 233px;*/
        color: black;
        margin: 0px;
        font-size: 12px;
        font-family: Impact;
    }

    #close-image {
        position: absolute;
        width: 57px;
        margin: 0px;
        top: 10px;
        right: 10px;
    }

    #close-image-src {
        width: 15px;
    }

    #logo-email-bottom {
        position: absolute;
        top: 60px;
        font-size: 11px;
        right: 10px;
    }

    #vals-block {
        width: 500px;
    }

    #table-max-vals {
        width: 100%;
        border-collapse: collapse;
        margin: 0 auto;
        text-align: center;
        color: black;
        border-color: black;
    }

    #table-max-vals td {
        border-collapse: collapse;
        text-align: center;
        color: black;
        border-color: black;
    }

    .text-corp-color {
        color: #205D6D;
    }

    .text-corp-impact {
        color: #205D6D;
        font-family: Impact;
    }

    .text-corp-exit {
        color: #205D6D;
        font-family: Times New Roman;
    }

    .login-input {
        width: 150px;
        resize: none;
        z-index: 999;
    }

    .trade-status-on {
        color: #205D6D;
        font-size: 20px;
        font-weight: bold;
    }

    .trade-status-off {
        color: red;
        font-size: 20px;
        font-weight: bold;
    }

    .trade-status-non {
        color: red;
        font-size: 20px;
        font-weight: bold;
    }

    .text-shadow {
        color: #205D6D;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    }

    .corp-line {
        color: #205D6D;
        background-color: #205D6D; /*äëÿ Firefox, Opera, Safari*/
        border: 0px none;
        height: 5px; /* âûñîòà 1px IE, Firefox, Opera, Safari */
        clear: both; /* äëÿ î÷èñòêè, åñëè òåã èäåò ïîñëå float åëåìåíòà */
    }

    .send-container {
        width: 265px;
        height: 30px;
        float: left;
    }

    .send-to {
        margin-top: 5px;
        width: 40px;
        height: 22px;
        margin-right: 5px;
        float: left;
    }

    input.send-text {
        margin-top: 5px;
        float: left;
        width: 213px;
    }

    button.send-button {
        margin-top: 5px;
        width: 20px;
        height: 22px;
        float: right;
    }

    .clear-line {
        width: 100%;
        height: 1px;
        clear: both;
    }

    .ui-jqgrid tr.jqgrow td {
        word-wrap: break-word; /* IE 5.5+ and CSS3 */
        white-space: pre-wrap; /* CSS3 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
    }

    .ui-th-column-header {
        text-align: center;
        vertical-align: middle;
    }

    .green a.ui-state-default {
        color: black;
        background-color: #3CB371;
        background: green;
    }

    #application-r {
        /*   visibility: hidden;
           display: none;*/
    }

    #application {
        /*    visibility: hidden;*/
        display: none;
    }

}